* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_box {
    background-color:#72F2EB;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;    
   
}
button {
    background-color:orange;
    height: 25px;
    width: 100px;
    border-radius: 15px;
    cursor: pointer;
}
